<?xml version="1.0"?>
<launch>
  <arg name="side" default="r"/> <!-- "b" = blue side, "r" = red side  -->

    <!-- You can change control program  -->


   

  <include file="$(find burger_navigation)/launch/burger_navigation.launch">
  </include>

  <node pkg="burger_war" type="test.py" name="MyRobo_node" output="screen"/>



    <!-- End of your space  -->
</launch>
